.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #3E525B;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-100%);
    display: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu.visible {
    transform: translateY(0);
    display: flex;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #555;
}

.menu a.active {
    font-weight: bold;
    color: #293744;
}

/* Estilização para tablet  */

@media screen and (min-width: 768px) {
    .menu {
        position: static;
        display: flex;
        flex-direction: row;
        background-color: unset;
        box-shadow: none;
        transform: translateY(0);
    }

}

/* Estilização para desktop */

@media screen and (min-width: 1024px) {
    .menu {
        font-size: 18px;
    }
}

/* Estilização para desktop G*/

@media screen and (min-width: 1440px) {
    .menu {
        font-size: 20px;
    }
}
