.about h1 {
    text-align: center;
    padding: 10px;
}

.about p{
    padding: 15px;
    text-indent: 32px;
}

/* Estilização para tablet */

@media screen and (min-width: 768px) {
    .about h1 {
        font-size: 35px;
    }
    
    .about p {
        padding: 15px 50px;
        font-size: 20px;
    }
}

/* Estilização para desktop */

@media screen and (min-width: 1024px) {
    .about h1 {
        font-size: 38px;
    }

    .about p {
        font-size: 24px;
    }
}

/* Estilização para desktop G */

@media screen and (min-width: 1440px) {
    .about h1 {
        font-size: 50px;
    }
}
